.contacts {
  background-image: linear-gradient(340deg, #0c4eb9 10%, #0e6e88 60%);
  background-position: 50% 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 40px;
  i {
    font-size: 50px;
  }
  p {
    color: white;
    font-size: 15px;
    padding-left: 20px;
    font-family: "Montserrat";
  }

  h1 {
    margin-top: 20px;
    text-align: center;
    // line-height: 70px;

    font-family: "Indie Flower";
  }
  &__wrap {
    width: 80%;
    margin: 0 auto;
  }
  &__socials {
    width: 70%;

    .social {
      display: flex;

      align-items: center;
      padding: 10px;
    }
  }
}

@media (min-width: 600px) {
  .contacts {
    i {
      font-size: 40px;
    }
    p {
      //   font-size: 25px;
    }
    &__wrap {
      width: 60%;
    }
    &__socials {
      width: 80%;
    }
  }
}

@media (min-width: 900px) {
  .contacts {
    h1 {
      //   margin-top: 15px;

      //   line-height: 60px;
      //   font-size: 30px;
    }
    &__wrap {
      width: 90%;
    }
    &__socials {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      .social {
        width: 31%;
        .i {
          font-size: 20px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}
