.footer {
  border: 2px solid black;
  font-family: "Poppins";
  background-image: linear-gradient(340deg, #567d88 10%, #293c5a 60%);
  padding: 30px;
  text-align: center;
  color: white;
  font-size: 20px;
}
