header {
  background-image: linear-gradient(340deg, #0c4eb9 10%, #09a7d3 60%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 60vh;

  button {
    margin: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    background-color: rgba(255, 0, 0, 0.664);
    color: white;
    cursor: pointer;
  }
  button:hover {
    background-color: rgba(185, 6, 0, 0.842);
    color: white;
  }
}

h1,
h2 {
  text-align: center;

  padding: 16px;
}

@media (min-width: 600px) {
  header {
    display: block;
    min-height: 25vh;
    position: relative;
    button {
      position: absolute;
      top: 20%;
    }
  }
  .btn-contact {
    left: 70%;
  }
}
