.my_printer {
  height: 90vh;
  background-image: url("../img/abstract-1438434_1280.png");

  color: rgb(184, 184, 184);
  margin: 0 auto;
  .wrap {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    .parameters {
      display: flex;
      flex-direction: column;
      margin: 20px;

      color: white;

      p {
        padding: 10px;
      }
    }
    img {
      max-width: 60%;
      height: 60vh;
      opacity: 0.7;
    }
  }
}
