.prints {
  background-image: linear-gradient(340deg, #c0c0c0 20%, #ffffff 80%);
  min-height: 100vh;

  button {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
    font-size: 20px;
    border: none;
    background: transparent;
    border-radius: 20%;
    transition: background-color 0.4s, color 0.4s;
    cursor: pointer;
  }

  button:hover {
    background-color: rgb(32, 32, 32);
    color: #fff;
  }
  .btn-left {
    left: 0;
  }

  .btn-right {
    right: 0;
  }

  .single-print {
    display: flex;
    flex-direction: column;

    max-width: 100%;
    min-height: 100vh;
    border-bottom: 2px solid black;
    h2 {
      font-family: "PT Sans Narrow", sans-serif;
      font-size: 30px;
    }
    .one {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    img {
      max-width: 55%;
      max-height: 55vh;
      margin: 0 auto;
      // padding: 5px;
      border-radius: 20px;
    }
  }
}

.single-print {
  position: relative;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  margin: 10px;
  // width: 600px;
  min-height: 400px;
  height: 40vh;
  padding: 30px 60px;
  border-radius: 15px;
  background-color: rgb(32, 32, 32);
  color: #fff;
  text-align: center;

  h1,
  h2,
  h3,
  p {
    padding: 5px;
  }
}
